.enterprise-form{
    margin-top: 5rem;
}
.enterprise-input{
    margin-left: 1.5rem;
}

.b-plan-form{
    margin-top: 1rem;
}

.btn-algorithm{
    margin-top: 1.5rem;
    margin-left: 22rem;
    cursor: pointer;
}