.table{
    margin-top: 4rem;
    background-color: #0d243b;
}

.table-button{
    margin-top: 1.5rem;
    margin-left: 39rem;
    cursor: pointer;
}

th{
    color: white;
}

td{
    color: white;
}

.result-info{
    margin-top: 3rem;
}